body,ul,li,h1,h2,p{
	margin: 0;
	padding: 0;
}

body {
	font-family:"microsoft yahei";}

.wrapper_content{
	width: 700px;
	height: 730px;
	margin:0 auto;
	position: relative;
	
}

h1#wel{
	position: absolute;
	top: 440px;
	left: 120px;
	font-size: 26px;
	font-weight: 500;
}

span#sug{
	position: absolute;
	bottom: 100px;
	left: 130px;
	font-size: 16px;

}

.wrapper_content img#weixin{
	position: absolute;
	width: 350px;
	height: 350px;
	top: 50px;
	left: 175px;
}

/*table*/

/*.table_1 td{
	border-bottom: 1px solid #555;
}*/

.table_1 .tr_style1{
	background: rgba(230,230,230,0.5)
}

#img_bobby{
	position: absolute;
	bottom: 100px;
	left: -10px;
}

.wrapper_content ul{
				margin-left: 5%;
				width: 100%;
			}
.wrapper_content	li{
				padding-left: 40px;
				background: url(../img/article.png) 0px 2px no-repeat;
				display: block;
				height: 35px;
				width: 80%;
				margin-bottom: 30px;
				font-size: 20px;
				border-bottom: 1px dotted #666;
			}
.wrapper_content ul{
	margin-top: 40px;
}		
.wrapper_content	li a{
	color: #555;
	text-decoration: none;
}

.wrapper_content	li:hover{
				background: url(../img/article.png)  0 -36px  no-repeat;
				cursor: pointer;
			}
.wrapper_content	span{
				float: right;
				color: #555;
			}
.wrapper_content p{
				text-indent: 2em;
				line-height: 2;
				
}

 .wrapper_content h1.title{
	text-align: center;
	font: 500 28px  "microsoft yahei";
	letter-spacing: 10px;
}

.description{
	width: 90%;
	height: 35px;
	margin: 0 auto;
	line-height: 35px;
	border-radius: 10px;
	background: rgba(80,80,80,0.1);
	margin-top: 200px;
}

.description span{
	line-height: 35px;
	float: left;
	margin-left: 10px;
}

.description marquee{
	display: inline-block;
	float: left;
	width: 85%;
	
}

.music_item{
	width: 600px;
	height: 130px;
	background: #FFFFFF;
	/*border-radius: 10px;*/
	box-shadow:  0 0 5px 1px #ccc;
	float: left;
	position: relative;
	margin-left: 48px;
	margin-top: 30px;
}

.music_item h2{
	width: 300px;
	height: 30px;
	font: 500 18px "microsoft yahei";
	position: absolute;
	top: 10px;
	left: 160px;
	padding-left: 30px;
	background: url(../img/music.png) no-repeat ;
}


.wrapper_content .music_item  p{
	width: 420px;
	font-size: 14px;
	line-height: 1.4 ;
	position: absolute;
	top: 45px;
	left: 170px;
	color: #555;
	text-align: justify;
}

.albumn{
	float: left;
}

.albumn_1{
	background: url(../img/albumn_1.jpg) no-repeat;
	background-size: 130px 130px;
	-moz-background-size:130px 130px;
	-ms-background-size:130px 130px;
	width: 130px;
	height: 130px;
}

.albumn_2{
	background: url(../img/albumn_2.jpg) no-repeat;
	background-size: 130px 130px;
	-moz-background-size:130px 130px;
	width: 130px;
	height: 130px;
}

.albumn_3{
	background: url(../img/albumn_3.jpg) no-repeat;
	background-size: 130px 130px;
	-moz-background-size:130px 130px;
	width: 130px;
	height: 130px;
}

.albumn_4{
	background: url(../img/albumn_4.jpg) no-repeat;
	background-size: 130px 130px;
	-moz-background-size:130px 130px;
	width: 130px;
	height: 130px;
}

.albumn_5{
	background: url(../img/albumn_5.jpg) no-repeat;
	background-size: 130px 130px;
	-moz-background-size:130px 130px;
	width: 130px;
	height: 130px;
}

.albumn_6{
	background: url(../img/albumn_6.jpg) no-repeat;
	background-size: 130px 130px;
	-moz-background-size:130px 130px;
	width: 130px;
	height: 130px;
}

span.control{
	display: block;
	margin-left: 48px;
	margin-bottom:100px;
	width: 500px;
	height: 20px;
	float: left;
}


.audiojs{
	border-radius: 8px;
	background: rgba(250,250,250,0.5);
	margin-top: 20px;
}

div.audiojs .play-pause{
	border-right: 1px solid #aaa;
}

div.audiojs .scrubber{
	background: rgba(250,250,250,0.5);
	border-top:none;
	box-shadow: inset 0 2px 2px #ccc;
}

div.audiojs .loaded{
	background: none;
}

div.audiojs .time{
	color:black;
	text-shadow: none;
	border-left: 1px solid #aaa;
}

div.audiojs .time em{
	color:black;
}

.travel_content {
	width: 600px;
	margin: 20px auto;
	
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.music_header{
	height: 100px;
}

@font-face {
	font-family:yh;
	src: url(../font/yh.otf);
}

.music_header h1{
	padding-left: 15px;
	margin-top: 35px;
	font:900 38px yh;
	
}
.music_header img{
	margin-top: 20px;
}

@font-face {
	font-family:xh;
	src: url(../font/xh.ttf);
}
#intro p.intro{
	padding: 20px 10px;
	border-bottom: 2px solid #666;
	border-top: 2px solid #666;
	font: 400 16px/150% "xh";
	text-align: justify;
	
}

p.intro:first-letter{
	font-size: 40px;
	font-weight: 100;
	float: left;
}

.text{
	margin-top: 40px;
	height: 460px;
	width: 100%;
	float: left;
}

.text p{
	width: 22px; 
	font: 700 22px/130%"xh";
	word-wrap: break-word; 
	margin: 0 10px;
	font-weight: 400;
}

.text img{
	margin-left: 10px;
}

.font20{
	font: 400 16px/150% "xh";
	padding: 20px 0;
	text-indent: 2em;
	text-align: justify;
}

.font40{
	font: 400 26px/150% "xh";
	padding:40px 50px;
}
